.header {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f8f9fa;
}

.subheader {
    height: 30vh;
    background-color: #343a40;
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}